:root {
  --background-color: #121212;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: white;
}

table th {
  padding: 5px;
}

.deleteUser {
  padding-right: 10px;
  color: wheat;
}